<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<h:outputStylesheet library="css" name="table-style.css" />
	<title>Registrar Usuario</title>
</h:head>
<h:body>
	<h:form>
		<h:panelGrid columns="3">
			<h:outputLabel for="username">Usuario</h:outputLabel>
			<h:inputText id="username" requiredMessage="Ingrese su usuario"
				label="Usuario" value="#{register.user.nombre}" required="true">
				<f:ajax event="blur" render="usernameMessage" />
			</h:inputText>
			<h:message id="usernameMessage" for="username" />

			<h:outputLabel for="password">Password</h:outputLabel>
			<h:inputSecret id="password" requiredMessage="Ingrese un password"
				label="password" value="#{register.user.password}" required="true" redisplay="true">
				<f:ajax event="blur" render="passwordMessage" />
				<f:validateLength minimum="6" />
			</h:inputSecret>
			<h:message id="passwordMessage" for="password" />

			<h:outputLabel for="email">Email</h:outputLabel>
			<h:inputText id="email" requiredMessage="Favor ingrese un mail"
				label="e-mail" value="#{register.user.email}" required="true">
				<f:ajax event="blur" render="emailMessage" />
			</h:inputText>
			<h:message id="emailMessage" for="email" />

			<h:outputLabel for="birthdate">Fecha de Nacimiento (yyyy-MM-dd)</h:outputLabel>
			<h:inputText id="birthdate" value="#{register.user.birthdate}">
				<f:convertDateTime pattern="yyyy-MM-dd" />
				<f:ajax event="blur" render="birthdateMessage" />
			</h:inputText>
			<h:message id="birthdateMessage" for="birthdate" />

			<h:panelGroup />
			<h:commandButton value="Register" action="#{register.submit}">
				<f:ajax execute="@form" render="@form" />
			</h:commandButton>
			<h:messages globalOnly="true" layout="table" />
		</h:panelGrid>
		<hr/>
		<h:dataTable id="dataTable" value="#{registrados.registeredUsers}"
			var="c" styleClass="order-table" headerClass="order-table-header"
			rowClasses="order-table-odd-row,order-table-even-row">

			<h:column>
				<f:facet name="header">
    			        Id de Usuario	
    			</f:facet>
    				#{c.id}
    		</h:column>

			<h:column>
				<f:facet name="header">
                                Nombre
				</f:facet>
    				#{c.nombre}
    		</h:column>

			<h:column>
				<f:facet name="header">
    				Password
				</f:facet>
    				#{c.password}
    		</h:column>

			<h:column>
				<f:facet name="header">
    				e-Mail
				</f:facet>
    				#{c.email}
    		</h:column>
    		
			<h:column>
				<f:facet name="header">
                                Fecha de nacimiento
				</f:facet>
    				#{c.birthdate}
    		</h:column>

		</h:dataTable>
	</h:form>


</h:body>
</html>